body{
    background-color: #B0BFC2;
    color: #334245;
    margin: 0px;
    font-size: 25px;
}
section{
    background: #d5dfe0;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


header{
    border-bottom: solid 2px rgb(35, 46, 59);
    padding: 20px;
    font-size: 32px;
    font-family:Embed code sans-serif ;
    color: #1E2729;
}
img {
    height: 200px;
}
.mais_videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
    justify-content:center ;
}
section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .chamada {
    background: rgb(231, 227, 236);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  .categorias h2{
    color: black;
    font-size: 25px;
    display: block;

  }