body{
    background-color: #B0BFC2;
    color: #334245;
    margin: 0px;
}
section{
    background: #d5dfe0;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


header{
    border-bottom: solid 2px rgb(35, 46, 59);
    padding: 20px;
    font-size: 32px;
    color: #1E2729;
}